*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	text-align: center;
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	margin: 80px;
	line-height: 1.5em;	
}
header {
	text-align: center; 
	margin: 20px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;	
}
.word {
	margin: 2em; auto; 
	text-align: center;
	line-height: 1.75em;
}
a {
	color: black;
	font-weight: bold;
	font-size: 24px;
}
img {
	width: 50%
}
footer {
	font-weight: bold;
	margin: 16px;
}